{% extends "layout.html" %}


{% block title %}
    About
{% endblock %}


{% block main %}

<h1 class="homepage-header">About South River Kayak Rental</h1>

      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-lg-8 mb-5">
                  <p class="homepage-text">
                      Our local company was born in Edgewater MD, on the banks of the South River. We are
                      independently owned and operated, and we strive to give the lowest prices and largest
                      range of selection, so that our customers are able to easily enjoy all that the South
                      River has to offer.
                  </p>
              </div>
              <div class="col-xs-12 col-lg-4 mb-5">
                  <img src="static/images/about/southriversunset.JPG" class="img-fluid" alt="Sunset on the South River">
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <p class="pb-4 homepage-text">
                      South River Kayak Rental is open 7 days a week from April to October. We offer modes of aquatic
                      transportation to fit any need: you can choose from a variety of kayaks, paddleboards or canoes.
                       Rent for an hour, a day, or up to one week. We also offer delivery to your house or local marina!
                  </p>
              </div>
          </div>
      </div>

{% endblock %}
