{% extends "layout.html" %}


{% block title %}
    About
{% endblock %}


{% block main %}

<h1 class="homepage-header">About South River FBLA</h1>

      <div class="container">
          <div class="row">
              <div class="col-xs-12 col-md-8">
                  <h3 class="py-3">What is FBLA?</h3>
                  <p class="homepage-text">
                      FBLA, or Future Business Leaders of America, helps students develop business and leaderships skills through
                      competitive events, community service, and a variety of other activities. FBLA prepares students for success
                      in their future careers.
                  </p>
                  <p>
                      The academic competitions, which cover a wide variety of business related topics such as entepreneurship, public
                      speaking and graphic design, provide students the opportunity to showcase their skills at regional, state and
                      national level competitions.
                  </p>
              </div>
              <div class="col-xs-12 col-md-4">
                  <img src="static/chapter-hands-up.jpg" class="img-fluid" alt="Chapter Pride!">
              </div>
          </div>
          <div class="row">
              <div class="col">
                  <h3 class="py-3">Our Chapter</h3>
                  <p class="pb-4">
                      New to South River High School this year, our FBLA chapter quickly became the largest club in the school with
                      over 100 registered members. Our advisors, Mr. Kahler and Mr. Madsen along with our team of officers are dedicated
                      to helping our members to prepare for college and beyond, as well as develop leadership and teamwork skills
                      essential to success in the business world. We meet every Friday first block of nest in Mr. Kahler's room, C120.
                      Come and join us!
                  </p>
              </div>
          </div>
      </div>

{% endblock %}
