{% extends "layout.html" %}


{% block title %}
    Home
{% endblock %}


{% block main %}

  <!--javascript animation reference-->
  <script src="js/index.js"></script>

  <!--rental link tiles-->
  <div class="container-fluid" onload="movekayak()">

    <div class="row px-0">

      <div class="col-xs-12 col-lg-6 mb-5">

        <div class="row">
          <div class="col">
              <h1 class="homepage-header mb-4" align="left">Find Your Next Adventure</h1>
          </div>
        </div>

        <div class="row">
          <div class="col">
              <img src="static/images/home/kayakred.png" id="kayakred" alt="Kayaks" class="img-fluid kayak my-1">
          </div>
        </div>

        <div class="row">
          <div class="col">
              <img src="static/images/home/kayakyellow.png" id="kayakyellow" alt="Kayaks" class="img-fluid kayak my-1">
          </div>
        </div>

        <div class="row">
          <div class="col">
              <img src="static/images/home/kayakgreen.png" id="kayakgreen" alt="Kayaks" class="img-fluid kayak my-1">
          </div>
        </div>
      </div>

      <!--homepage text-->
      <div class="col-xs-12 col-lg-6 px-1">
        <h1 class="homepage-header mb-4" align="left">Rent Now</h1>
        <div class="row">
            <div class="col">
              <a href="/rent/kayak/">
                <img src="static/images/home/kayaksquaregrayscale.png" onmouseover="this.src='static/images/home/kayaksquarergb.png';" onmouseout="this.src='static/images/home/kayaksquaregrayscale.png';" alt="Kayaks" class="img-fluid kayak_tile">
              </a>
            </div>
            <div class="col">
              <a href="/rent/canoe/">
                <img src="static/images/home/canoesquaregrayscale.png" onmouseover="this.src='static/images/home/canoesquarergb.png';" onmouseout="this.src='static/images/home/canoesquaregrayscale.png';" alt="Canoes" class="img-fluid kayak_tile">
              </a>
            </div>
            <div class="col">
              <a href="/rent/paddleboard/">
                <img src="static/images/home/paddleboardsquaregrayscale.png" onmouseover="this.src='static/images/home/paddleboardsquarergb.png';" onmouseout="this.src='static/images/home/paddleboardsquaregrayscale.png';" alt="Paddleboards" class="img-fluid kayak_tile">
              </a>
            </div>
        </div>

        <div class="card m-4">
          <div class="card-body">
            <h5 class="card-title">Join Our Mailing List!</h5>
            <p class="card-text">Enter your email to recieve news and updates about South River Kayak Rental, and recieve a free 1 hour rental of your choice!</p>
            <form>
              <div class="form-group">
                <div class="row">
                  <div class="col-9">
                    <input type="email" class="form-control" id="email" placeholder="Email address">
                  </div>
                  <div class="col-3">
                    <a class="btn btn-primary add-to-cart" href="/emailthanks"align="center" type="submit" name="email_submit">Submit</a>
                  </div>
              </div>
            </form>
          </div>
        </div>

      </div>
    </div>

  </div>


{% endblock %}
