<!DOCTYPE html>

<html lang="en">

  <head>

    <!--links to necessary stylesheets, custom and bootstrap-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/stylesheet.css">

    <!--link for custom font-->
    <link rel="stylesheet" href="https://use.typekit.net/zlx1diw.css">

    <!--set device width for variable media types-->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--links to favicon sources-->
    <link rel="apple-touch-icon" sizes="180x180" href="/static/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">

    <!--title of page-->
    <title>South River Kayak Rental: {% block title %}{% endblock %}</title>

  </head>

  <body>
    <!--navigation bar-->
    <nav class="navbar navbar-expand-xl navbar-light navbar-main">
      <a class="navbar-brand" href="/">
        <img src="/static/logos/srkrlogo1.png" height="150px" alt="South River Kayak Rental">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item mx-3">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item dropdown mx-3">
            <a class="nav-link dropdown-toggle" href="/rent/" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Rent
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="/rent/kayak/">Kayaks</a>
              <a class="dropdown-item" href="/rent/canoe/">Canoes</a>
              <a class="dropdown-item" href="/rent/paddleboard/">Paddleboards</a>
              <a class="dropdown-item" href="/rent/">Browse All</a>
            </div>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="/about">About</a>
          </li>
          <li class="nav-item mx-3">
            <a class="nav-link" href="/cart">My Cart</a>
          </li>
        </ul>
      </div>
    </nav>
    </nav>

    <!--container for main content-->
    <main class="container">
            {% block main %}{% endblock %}
    </main>

    <!--custom footer-->
    <footer>
            <div class="container">
                <div class="row">
                    <div class="col-6">
                        <div class="container py-4">
                            <div class="row space-evenly">
                                <div class="col">
                                    <a href="#">
                                        <img src="/static/icons/06-facebook.svg" alt="Facebook" class="filter-white img-fluid social-icon">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/static/icons/03-twitter.svg" alt="Twitter" class="filter-white img-fluid social-icon">
                                    </a>
                                </div>
                                <div class="col">
                                    <a href="#">
                                        <img src="/static/icons/38-instagram.svg" alt="Instagram" class="filter-white img-fluid social-icon">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-6">
                        <p class="footer-text py-4">Copyright © 2020 South River Kayak Rental Co.</p>
                    </div>
                </div>
            </div>
        </footer>

    <!--bootstrap js sources-->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

  </body>

</html>
